.btn {
  height: 56px;
  width: calc(100vw - 48px);
  padding: 16px 0px;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(88, 94, 125, 0.08);
  background-color: #00b578;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.41;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
