.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 56%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

.homepage > img {
  width: 134px;
  height: 96.5px;
}

.interactions {
  display: flex;
  flex-direction: column;
}

.interactions > button {
  height: 56px;
  padding: auto;
  width: calc(100vw - 48px);
  font-size: 17px;
  font-weight: 600;
  line-height: 1.41;
}

.btnStart {
  background-color: #00b578;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(88, 94, 125, 0.08);
}

.btnHow {
  color: #00b578;
  margin-bottom: 8px;
}

.interactions > p {
  margin: 24px 0 9px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.83;
  text-align: center;
  color: #515259;
}
