/* positioning */
.setupPage {
  height: inherit;
  padding: 48px 24px 50px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.13%;
}

.top > img {
  width: 23.7px;
  height: 27.2px;
}
