.page {
    padding: 54px 24px 50px 24px;
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 48px;
    height: 48px;
    padding: auto;
}

.icon > img {
    width: 20px;
    height: 20px;
}